In [30]:
import pandas as pd
import os

# Load data
players_path = os.path.join('..', 'valorant', 'vct_2025', 'players_stats', 'players_stats.csv')
df = pd.read_csv(players_path)
print(f"✅ Loaded {len(df):,} player records")
print(f"Columns: {df.columns.tolist()}")

✅ Loaded 17,996 player records
Columns: ['Tournament', 'Stage', 'Match Type', 'Player', 'Teams', 'Agents', 'Rounds Played', 'Rating', 'Average Combat Score', 'Kills:Deaths', 'Kill, Assist, Trade, Survive %', 'Average Damage Per Round', 'Kills Per Round', 'Assists Per Round', 'First Kills Per Round', 'First Deaths Per Round', 'Headshot %', 'Clutch Success %', 'Clutches (won/played)', 'Maximum Kills in a Single Map', 'Kills', 'Deaths', 'Assists', 'First Kills', 'First Deaths']

In [31]:
# Print all columns to find the right names
for col in df.columns:
    print(f"'{col}'")

'Tournament'
'Stage'
'Match Type'
'Player'
'Teams'
'Agents'
'Rounds Played'
'Rating'
'Average Combat Score'
'Kills:Deaths'
'Kill, Assist, Trade, Survive %'
'Average Damage Per Round'
'Kills Per Round'
'Assists Per Round'
'First Kills Per Round'
'First Deaths Per Round'
'Headshot %'
'Clutch Success %'
'Clutches (won/played)'
'Maximum Kills in a Single Map'
'Kills'
'Deaths'
'Assists'
'First Kills'
'First Deaths'

In [32]:
# TODO: Update these column names based on your actual data
PLAYER_COL = 'Player'  # Change if different
TEAM_COL = 'Teams'      # Change if different  
ACS_COL = 'Average Combat Score'        # Change if different
AGENT_COL = 'Agents'    # Change if different

# Verify they exist
for col in [PLAYER_COL, TEAM_COL, ACS_COL, AGENT_COL]:
    if col in df.columns:
        print(f"✅ Found: {col}")
    else:
        print(f"❌ Missing: {col} - check column names above!")

✅ Found: Player
✅ Found: Teams
✅ Found: Average Combat Score
✅ Found: Agents

In [33]:
# Calculate average ACS per player
def get_top_players_by_acs(df, min_games=5, limit=20):
    """
    Get top players by average ACS.
    
    This function can be copied directly to main.py!
    """
    player_stats = df.groupby(PLAYER_COL).agg({
        ACS_COL: 'mean',
        TEAM_COL: 'first',  # Get their team
        PLAYER_COL: 'count'  # Count games
    }).rename(columns={PLAYER_COL: 'games', ACS_COL: 'avg_acs'})
    
    # Filter by minimum games and sort
    qualified = player_stats[player_stats['games'] >= min_games]
    top_players = qualified.sort_values('avg_acs', ascending=False).head(limit)
    
    return top_players.reset_index()

# Test it
top_acs = get_top_players_by_acs(df, min_games=5, limit=10)
top_acs

       Player     avg_acs            Teams  games
0        Sato  252.935484         LEVIATÁN     31
1      ZmjjKK  249.444444    EDward Gaming    117
2         OXY  246.261538           Cloud9     65
3        whzy  242.113402  Bilibili Gaming     97
4       lukxo  238.777778             LOUD     36
5       Derke  238.573529    Team Vitality     68
6  florescent  238.478261            Apeks     23
7      slowly  236.344828            TYLOO     58
8     HYUNMIN  236.318182              DRX     88
9       aspas  236.282609             MIBR     92

In [34]:
def get_player_profile(df, player_name):
    """
    Get comprehensive stats for a single player.
    """
    # Filter to this player (case-insensitive)
    player_df = df[df[PLAYER_COL].str.lower() == player_name.lower()]
    
    if player_df.empty:
        return None
    
    # Get numeric columns for aggregation
    numeric_cols = player_df.select_dtypes(include=['int64', 'float64']).columns.tolist()
    
    # Calculate averages
    stats = {col: player_df[col].mean() for col in numeric_cols}
    
    # Add metadata
    stats['player'] = player_df[PLAYER_COL].iloc[0]
    stats['team'] = player_df[TEAM_COL].iloc[0] if TEAM_COL in player_df.columns else 'Unknown'
    stats['games_played'] = len(player_df)
    
    # Agent pool
    if AGENT_COL in player_df.columns:
        stats['agents_played'] = player_df[AGENT_COL].value_counts().to_dict()
    
    return stats

# Test with a player (you'll need to use a real name from your data)
# First, let's see some player names
print("Sample player names:")
print(df[PLAYER_COL].value_counts().head(10))

Sample player names:
Alfajer      151
paTiTek      148
keiko        140
kamo         138
N4RRATE      132
Zellsis      130
kaajak       129
JonahP       128
iZu          126
Chronicle    125
Name: Player, dtype: int64

In [35]:
# Test the profile function with a real player name
# TODO: Replace with an actual player name from the output above
test_player = df[PLAYER_COL].value_counts().index[0]  # Gets most common player
print(f"Testing with: {test_player}")

profile = get_player_profile(df, test_player)
if profile:
    for key, value in profile.items():
        print(f"{key}: {value}")

Testing with: Alfajer
Rounds Played: 51.973509933774835
Rating: 1.068609271523179
Average Combat Score: 226.08609271523179
Kills:Deaths: 1.1854966887417218
Average Damage Per Round: 149.11920529801324
Kills Per Round: 0.8191390728476823
Assists Per Round: 0.16509933774834437
First Kills Per Round: 0.1481456953642384
First Deaths Per Round: 0.10609271523178808
Maximum Kills in a Single Map: 19.807947019867548
Kills: 42.728476821192054
Deaths: 36.7682119205298
Assists: 8.450331125827814
First Kills: 7.655629139072848
First Deaths: 5.377483443708609
player: Alfajer
team: FNATIC
games_played: 151
agents_played: {'killjoy': 27, 'cypher': 14, 'chamber': 14, 'raze': 13, 'tejo': 12, 'iso': 11, 'vyse': 8, 'neon': 6, 'sage': 5, 'jett': 3, 'killjoy, raze': 3, 'cypher, killjoy, raze': 2, 'killjoy, tejo': 2, 'cypher, sage': 2, 'chamber, jett': 2, 'killjoy, tejo, vyse': 2, 'cypher, raze': 1, 'chamber, cypher, iso, killjoy, neon, raze': 1, 'cypher, killjoy': 1, 'cypher, iso, killjoy, raze, vyse': 1, 'iso, killjoy, raze': 1, 'iso, killjoy, vyse': 1, 'iso, killjoy': 1, 'chamber, raze, tejo': 1, 'chamber, iso, tejo': 1, 'chamber, killjoy, raze': 1, 'chamber, iso, killjoy, neon, tejo, vyse': 1, 'chamber, cypher, killjoy': 1, 'chamber, iso, killjoy': 1, 'cypher, killjoy, neon': 1, 'cypher, iso, raze': 1, 'chamber, tejo': 1, 'chamber, killjoy, tejo': 1, 'chamber, iso': 1, 'killjoy, neon': 1, 'chamber, killjoy, vyse': 1, 'cypher, killjoy, neon, sage, tejo, vyse': 1, 'cypher, killjoy, tejo': 1, 'cypher, killjoy, neon, sage, vyse': 1, 'killjoy, sage': 1, 'chamber, iso, jett, raze, tejo': 1}

In [36]:
def get_agent_stats(df):
    """
    Get performance stats by agent.
    """
    agent_stats = df.groupby(AGENT_COL).agg({
        ACS_COL: 'mean',
        PLAYER_COL: 'count'
    }).rename(columns={PLAYER_COL: 'times_played', ACS_COL: 'avg_acs'})
    
    return agent_stats.sort_values('avg_acs', ascending=False).reset_index()

agent_data = get_agent_stats(df)
agent_data

                     Agents  avg_acs  times_played
0       jett, phoenix, yoru    321.0             1
1           iso, omen, yoru    303.0             1
2       jett, neon, phoenix    302.0             1
3             phoenix, raze    299.0             1
4               clove, tejo    296.0             1
...                     ...      ...           ...
996   chamber, cypher, vyse    123.0             1
997            breach, sage    122.0             1
998             astra, fade    122.0             1
999        neon, raze, vyse    122.0             2
1000  breach, gekko, harbor    122.0             1

[1001 rows x 3 columns]

In [37]:
def get_team_stats(df, min_games=10):
    """
    Get average stats by team.
    """
    team_stats = df.groupby(TEAM_COL).agg({
        ACS_COL: 'mean',
        PLAYER_COL: 'count'
    }).rename(columns={PLAYER_COL: 'total_player_games', ACS_COL: 'avg_acs'})
    
    # Filter by minimum games
    qualified = team_stats[team_stats['total_player_games'] >= min_games]
    
    return qualified.sort_values('avg_acs', ascending=False).reset_index()

team_data = get_team_stats(df, min_games=20)
team_data.head(15)

              Teams     avg_acs  total_player_games
0        G2 Esports  205.066318                 573
1     EDward Gaming  204.338078                 562
2         Paper Rex  202.462633                 562
3     Xi Lai Gaming  201.457732                 485
4            FNATIC  201.311396                 623
5       Mega Minors  200.915966                 476
6            Cloud9  200.058824                 306
7   Bilibili Gaming  200.007797                 514
8       Team Liquid  199.597718                 701
9             Gen.G  199.480106                 377
10  FunPlus Phoenix  198.579832                 238
11        Sentinels  198.551433                 593
12               T1  198.451220                 574
13      KRÜ Esports  197.987879                 330
14      BBL Esports  197.855392                 409